* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "IRANSans-web";
}
.head-img {
  user-select: none;
}
.ozv-title {
  font-family: "IRANSans-web";
}
.result,
.result1 {
  font-family: "IRANSans-web";
  font-size: 25px;
  color: red;
}
.input2 {
  font-family: "IRANSans-web";
  text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

input[type="number"] {
  font-family: "IRANSans-web";
  font-size: 20px;
}

body {
  background-color: #e6e6e6;
}

.into {
  display: inline;
}

.btn {
  display: inline;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  min-height: 100vh;
  flex-wrap: wrap;
}

.wrap {
  text-align: center;
  width: 85%;
  overflow: hidden;
  border-radius: 30px;
  background: #e6e6e6;
  box-shadow: 10px 10px 22px rgb(0 0 0 / 20%),
    -10px -10px 22px rgb(255 255 255 / 75%);
  padding: 20px;
  margin: 30px;
  direction: ltr;
}

.input {
  color: #464646;
  font-size: 16px;
  height: 50px;
  display: block;
  width: 90%;
  border: 1px solid rgb(197, 192, 192);
  border-radius: 10px;
  outline: none;
  background: transparent;
  margin: 10px;
}

.input2 {
  color: #464646;
  font-size: 16px;
  height: 50px;
  width: 90%;
  border: 1px solid rgb(197, 192, 192);
  border-radius: 10px;
  outline: none;
  background: transparent;
  margin: 10px;
}

.width {
  font-size: 40px;
}

input {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

#result2 {
  font-family: "IRANSans-web";
  font-size: 20px;
  color: red;
}

.ozv-button {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  background-color: #3abc84;
  border: none;
  font-family: "B nazanin";
  border-bottom: 5px solid #27ae60;
  text-shadow: 0px -2px #27ae60;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.button:active {
  -webkit-transform: translate(0px, 5px);
  -ms-transform: translate(0px, 5px);
  transform: translate(0px, 5px);
  border-bottom: 1px solid #3abc84;
}

.button:focus + .frac1 {
  display: inline-block;
}

.frac1 {
  width: 100px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: center;
  margin-top: 5px;
}

.frac {
  width: 100px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  letter-spacing: 0.001em;
  text-align: center;
}

.frac > span {
  display: block;
  padding: 0.1em;
}

.frac span.bottom {
  border-top: thin solid black;
}

.frac span.symbol {
  width: 5%;
  display: none;
}

.frac1 > span {
  display: block;
  padding: 0.1em;
}

.frac1 span.bottom {
  border-top: thin solid black;
}

.frac1 span.symbol {
  width: 5%;
  display: none;
}

.frac0 {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  letter-spacing: 0.001em;
  text-align: center;
}

.frac0 > span {
  display: block;
  padding: 0.1em;
}

.frac0 span.bottom {
  border-top: thin solid black;
}

.frac0 span.symbol {
  width: 5%;
  display: none;
}

hr {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;

  border-style: inset;
  border-width: 1px;
}

@media only screen and (max-width: 850px) {
  .wrap {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 594px) {
  .btn {
    display: block;
  }

  .into {
    display: block;
  }

  .button {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 460px) {
  .wrap {
    padding: 5px;
  }
}

.w3-center {
  text-align: center !important;
}

body {
  margin: 0;
  font-family: "IRANSans-web";
  background-color: #fff;
}
.navbar-column {
  margin: 5px;
  padding: 0 35px 0 35px;
  direction: rtl;
}
hr {
  border: 1px solid gainsboro;
  border-radius: 200px;
}
a {
  text-decoration: none;
  background-color: initial;
}
ul {
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.li-navbar {
  display: inline;
  padding: 10px;
  border-radius: 5px;
}
.li-navbar a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  margin: 0px 10px 0px 10px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}
.navbar-column.ul-navbar > li.li-navbar > a:after,
.navbar-column ul li > a:hover:after {
  width: 100%;
  background: #7aa228;
  left: 0;
}
.navbar-column ul li > a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  margin-top: 2px;
  background: 0 0;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.li-navbar:active {
  color: #7aa228;
  background-color: #333;
}
.li-navbar a:hover {
  color: #7aa228;
  background-color: initial;
}
.img-logo {
  display: inline;
  position: relative;
  margin-left: 10px;
  float: right;
}
.img-column {
  background-image: url("/mataleb/assets/img/blog.jpg");
  height: 60%;
  width: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-bottom: 10px;
}
.content-img-column {
  width: 100%;
  height: 100%;
  direction: rtl;
}
.container-img-column {
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 5%;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 20%;
}
.div-title-img-column {
  width: 20%;
  text-align: right;
  position: relative;
  margin: 0 0 20px;
  padding: 0;
}
.title-img-column {
  font-family: B Esfehan;
  background-color: rgba(255, 255, 255, 0.9);
  color: #242526;
  font-weight: 400;
  border-radius: 5px;
  padding: 6px 12px;
  display: inline-block;
  letter-spacing: 0;
  line-height: 40px;
  margin: 0 0 0;
  box-shadow: 0 0 3px rgb(161 161 161 / 90%);
}
.div-p-img-column {
  width: 23%;
  text-align: right;
  position: relative;
  margin: 0 0 20px;
  padding: 0;
}
.p-img-column {
  background-color: rgba(45, 47, 49, 0.8);
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  display: inline-block;
  border-radius: 5px;
  line-height: 25px;
  letter-spacing: 1px;
  padding: 6px 12px;
  margin: 0 0 0;
  text-shadow: 0 0 1px rgb(155 155 155 / 70%);
}
.dropdown {
  display: none;
  padding: 0;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 1;
  font-size: 14px;
  text-align: center;
  right: 170px;
}
.li-navbar:hover > .dropdown {
  display: block;
}
.li-dropdown {
  position: relative;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.blog-asli {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}
.blog-container {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  direction: rtl;
}
.other-container,
.other-container1 {
  position: relative;
  margin-top: 40px;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  direction: rtl;
}
.in-other-container {
  background-color: #fbfbfb;
  border: 1px solid #7aa228;
  margin-bottom: 80px;
  margin-left: 0;
  padding: 20px;
  border-radius: 10px;
}
.sidebar-widget {
  margin-top: 0;
  overflow: hidden;
  padding: 0;
}
.sidebar-widget-title {
  margin-bottom: 22px;
}
.sidebar-widget-title h3,
.sidebar-widget-title h3 a {
  color: #7aa228;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 32px;
  font-family: B Esfehan;
}
.sidebar-widget ul {
  margin: 15px 0 10px 0 !important;
  overflow: hidden;
  padding: 0;
  list-style-type: none;
}
.sidebar-widget > ul > li:first-child {
  padding: 0 0 10px;
}
.sidebar-widget > ul > li {
  border-bottom: 1px dotted #7aa228;
}
.sidebar-widget > ul > li {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  margin: 0 !important;
  padding: 10px 0;
  overflow: hidden;
  transition: all 0.4s ease 0s;
}
.cat-item {
  background-color: #fbfbfb;
  border-radius: 5px;
  padding: 10px !important;
}
.cat-item:hover {
  background-color: #d8d8d8;
}
.sidebar-widget > ul > li > a {
  color: #727272;
  font-weight: 400;
  font-size: 12px;
}
.blog-header {
  color: #242526;
  font-family: b titr;
  font-size: 25px;
}
@media screen and (max-width: 411px) {
  .li-navbar a {
    margin: 0;
  }
}
@media screen and (max-width: 443px) {
  .navbar-column {
    padding: 0;
  }
  .li-navbar a {
    padding: 6px;
  }
  .ul-navbar {
    margin-right: 0;
  }
  /* .li-navbar a {
    margin: 0;
} */
}
@media screen and (min-width: 450px) {
  .div-p-img-column {
    width: 50%;
  }
}

@media screen and (max-width: 450px) {
  .div-p-img-column {
    width: 100%;
    text-align: center;
  }
  .div-title-img-column {
    width: 100%;
    text-align: center;
  }
  .container-img-column {
    margin: 0;
  }
}
@media screen and (max-width: 514px) {
  .navbar-column {
    padding: 0;
  }
}
@media screen and (max-width: 593px) {
  .li-navbar {
    padding: 0px;
  }
}
@media screen and (min-width: 768px) {
  .blog-asli {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .blog-asli {
    width: 100%;
    margin: 0;
    /* padding: 20px; */
  }
  .wrap {
    margin: 0;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .blog-container {
    margin: 0;
    padding: 0;
    float: right;
    width: 65%;
  }
  .other-container {
    float: left;
    width: 30%;
    margin-left: 20px;
  }
}
@media screen and (max-width: 992px) {
  .other-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .blog-asli {
    width: 1170px;
  }
}
