* {
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IRANSans-web";
  transition: all 1s;
}
body {
  background: #fff;
}
.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  flex-wrap: wrap;
}
.container {
  width: 500px;
  background: #fbfbfb;
  border: 1px solid #7aa228;
  border-radius: 10px;
  padding: 30px;
  overflow: hidden;
}
.input {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  margin-right: 30%;
}
.container h1 {
  color: #7aa228;
  text-align: center;
  margin-bottom: 30px;
}
form {
  width: 100%;
}
.user {
  width: 40%;
  height: 50px;
  outline: none;
  border: none;
  background: #242424;
  padding: 15px 60px 15px 60px;
  color: #fff;
  border-radius: 7px;
  font-size: 14px;
  text-align: right;
  margin: 0;
  text-align: center;
}
.icon {
  font-size: 22px;
  position: absolute;
  color: #7aa228;
  padding: 14px;
  background: #100f10;
  border-radius: 0 7px 7px 0;
}
.submit {
  width: 50%;
  margin-right: 25%;
  padding: 7px 10px;
  background-color: #7aa228;
  border-radius: 7px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.submit:hover {
  background-color: #485f19;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
